URL2 = http://localhost:3001/graphql
URL = https://hxb-graph.hexabase.com/graphql
TOKEN = 
WORKSPACEID2 =  
WORKSPACEID = 
APPLICATIONID = 
DATASTOREID = 
ITEMID = 
FIELDID = 
ACTIONID = 
WORKSPACEIDSET = 
PROJECT_TEMPLATE_ID = 
TEMPLATE_NAME =
PROJECT_ID = 
TASKID = 
CONFIRMATIONID = 
EMAIL = email@hexabase.com
PASSWORD = 123456
FILE_ID = 
CONTENTFILE= 
contentTypeFile= 
CONTENTTYPEFILE= image/png
NAMEFILE= NameFile.png